<div id="notice"><%= notice %></div>

<div class="row">
  <div class="col-xs-12 portfolio-show-container">
    <div class="col-xs-12">
      <h3 class="show-heading"> <%= @portfolio.title %> </h3>
    </div>
  
    <div class="col-xs-12">
      <h5 class="text-muted"><%= @portfolio.sub_title %></h5>
    </div>

  <div class="row">     
      <%= image_tag(@portfolio.main_img, class: "col-md-6") %>

    <div class="col-xs-12 col-md-6">
      <%= markdown @portfolio.description %>
      
      <hr>

      <% if @portfolio.gh_link? %>
        <div>
          Have a look at my code on 
          <%= link_to (fa_icon "github"), @portfolio.gh_link, class: "fa_icon-link" %>
        </div>
        <% end %>
      <% if @portfolio.url_link? %>
        <div>
          Watch me deployed <%= link_to (fa_icon "globe"), @portfolio.url_link, class: "fa_icon-link" %>
        </div>
      <% end %>

      <div class="col-xs-12">
        <%= link_to 'Back', portfolios_path, class: "btn btn-primary" %> 
        <%= link_to 'Edit', edit_portfolio_path(@portfolio), class: "btn btn-primary" if user_signed_in? %> 
      </div>
    </div>
  </div>
  
</div>



